<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
<section class="scoreboard">
    <table border="1">
        <tr>
            <td colspan="2">Top 5</td> // tähän taulukko
        </tr>
        <tr>
            <td>Player name: <span id="playername1"></span></td>
            <td>Score: <span id="score1"></span></td>
        </tr>
        <tr>
            <td>Player name: <span id="playername2"></span></td>
            <td>Score: <span id="score2"></span></td>
        </tr>
        <tr>
            <td>Player name: <span id="playername3"></span></td>
            <td>Score: <span id="score3"></span></td>
        </tr>
        <tr>
            <td>Player name: <span id="playername4"></span></td>
            <td>Score: <span id="score4"></span></td>
        </tr>
        <tr>
            <td>Player name: <span id="playername5"></span></td>
            <td>Score: <span id="score5"></span></td>
        </tr>
    </table>
</section>

</body>
</html>